<div class="cash-flow">
    <div class="cashflow-container text-center">
      <div class="cash-flow-img">
          <img src="./assets/images/swipe-card.gif" alt=""/>
      </div>
      <h2>Pay</h2>
      <div class="totalpay-amount">${{cartData?.total}}</div>
      <p>Swipe or Tap card to make payment</p>
      <ul class="payment-option">
          <li>
              <a href="javascript:void(0)">Add card details manullay</a>
          </li>
          <li>
              <a (click)="payAmount()">Pay via Cash</a>
          </li>
      </ul>
    </div>
    </div>