
<ion-list>
<div id="tab-1" class="store-content current">
  <div class="store-products d-md-flex flex-wrap" *ngIf="productData">
      <div class="product-box" *ngFor="let product of productData">
          <a href="javascript:void(0)" (click)="addBookmark(product._id )" class="product-ribbon"
          [class.active]="product?.isBookmarked">
              <svg class="icon">
                  <use xlink:href="./assets/images/svg-sprite.svg#icon-ribbon"></use>
              </svg>
              <svg class="icon">
                  <use xlink:href="./assets/images/svg-sprite.svg#icon-ribbon-filled"></use>
              </svg>
          </a>
          <a href="javascript:void(0)" (click)="productDetail(product)" class="block-link"></a>
          <div class="image-container">
              <img [src]="product?.images[0]['image']" alt="" />
          </div>
          <div class="content">
              <h4>{{product.name}}k</h4>
              <div class="product-health bad">4 ITEMS RUNNING LOW</div>
              <div class="price d-flex justify-content-between align-items-center">
                  <h2>{{product?.priceBook?.symbol}}{{product.basePrice}}</h2>
              </div>
          </div>
      </div>

  </div>
</div>
</ion-list>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadProduct($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
