<ion-content >
<div class="outer-wrapper">
    <h2 class="ion-text-center">Who is using Studio</h2>
    <div class="container">
        <div class="row user-row align-items-center justify-content-center">
            <div class="col-md-3 col-sm-6 d-inline-flex justify-content-center">
            <div class="user-box d-flex flex-column align-items-center aos"  data-aos-delay="300">
                <a routeLink="/authentication" class="block-link"></a>
                    <div class="user-img">
                        <img src="./assets/images/user-img-1.png" alt=""/>
                    </div>
                    <div class="content">
                        <h3>George Gouse</h3>
                    </div>
            </div>
            </div>
            <div class="col-md-3 col-sm-6 d-inline-flex justify-content-center">
            <div class="user-box d-flex flex-column align-items-center aos"  data-aos-delay="500">
                <a routeLink="/authentication" class="block-link"></a>
                    <div class="user-img">
                        <img src="./assets/images/user-img-2.png" alt=""/>
                    </div>
                    <div class="content">
                        <h3>Tamarcus Brown</h3>
                    </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 d-inline-flex justify-content-center">
            <div class="user-box d-flex flex-column align-items-center aos" data-aos-delay="800">
                <a routeLink="/authentication" class="block-link"></a>
                <div class="user-img">
                    <img src="./assets/images/user-img-3.png" alt=""/>
                </div>
                <div class="content">
                    <h3>Zahir Namane</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 d-inline-flex justify-content-center">
            <div class="user-box d-flex flex-column align-items-center aos"  data-aos-delay="1100">
                <a routeLink="/authentication" class="block-link"></a>
                <div class="user-img">
                    <img src="./assets/images/user-img-4.png" alt=""/>
                </div>
                <div class="content">
                    <h3>Marissa Grootes</h3>
                </div>
            </div>
            </div>
            </div>
            <div class="cant-find-section text-center">
                <h6><span>OR</span></h6>
                <h2>Can't find yourself!</h2>
                <p>You can always login to get going.</p>
                <a  class="store-btn-lg btn-border" routerLink="/authentication" routerDirection="forward">Login</a>
            </div>
    </div>
</div>



</ion-content>
