  <ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      {{data.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <div class="product-slider">

    <ion-slides   #sliderIndex  pager="true" >
      <ion-slide  *ngFor="let img of data.images">
        <img [src]="img.image" alt=""/>
      </ion-slide>
    </ion-slides>

    <div class="slider-nav">
        <div class="thumb-image" *ngFor="let timg of data.images; index as i " (click)="selectedImage(i)">
            <img class="img-size" [src]="timg.images" alt=""/>
        </div>

    </div>
</div>
<div class="product-detail">
  <h4 *ngIf="data.variants.length>0">Choose size</h4>
  <ul class="custom-radio-button d-md-flex flex-wrap">
      <li *ngFor="let variant of data.variants">
        <div class="form-group" (click)="size = variant">
            <input type="radio" id="{{variant.size}}" name="size" checked/>
            <label for="{{variant.size}}">{{variant.size}}</label>
          </div>
      </li>
  </ul>
  <h4>Choose quantity</h4>
  <div class="quantity-wrapper">
    <button class="decrement" (click)="qtyDecriment()"><i class="fa fa-chevron-left"></i></button>
    <input class="counter" type='text' [(ngModel)]="qty">
    <button class="increment" (click)="qtyIncrease()"><i class="fa fa-chevron-right"></i></button>
  </div>
  <div class="product-info">
    <div class="quantity-available">Quantity available in stock: <span>430</span></div>
    <div class="product-health good">Good Stock health</div>
</div>
  <a href="javascript:void(0)" class="store-btn-lg btn-blue">Add to Order</a>
</div>

</ion-content>
  <!-- Modal -->
