<ion-header id="site-header">
  <a routerLink="/welcome" class="brand">
      <svg class="sidebar-left">
          <use xlink:href="./assets/images/svg-sprite.svg#sidebar-left"></use>
      </svg>
      <h1>POS</h1>
  </a>
  <div class="header-search">
      <svg class="icon-search">
          <use xlink:href="./assets/images/svg-sprite.svg#icon-search"></use>
      </svg>
      <input type="text"  (keyup)="getData($event)" class="form-control" placeholder="Search by product name..."/>
  </div>
  <div class="profile-action ms-auto">
      <a href="javascript:void(0)" class="user-profile">
          <img src="./assets/images/profile-img.png" alt=""/>
          <span>James Gouse</span>
      </a>
      <a href="javascript:void(0)" class="store-btn btn-border">Log out</a>
  </div>
</ion-header>