<ion-header id="site-header">
  <a href="index.html" class="brand">
      <svg class="lucid-logo">
          <use xlink:href="./assets/images/svg-sprite.svg#lucid-logo"></use>
      </svg>
      <span class="separator"></span>
      <svg class="studio">
          <use xlink:href="./assets/images/svg-sprite.svg#studio"></use>
      </svg>
  </a>
  <div class="header-search">
      <svg class="icon-search">
          <use xlink:href="./assets/images/svg-sprite.svg#icon-search"></use>
      </svg>
      <input type="text" class="form-control" placeholder="Search by product name..."/>
  </div>
  <div class="profile-action ms-auto">
      <a href="javascript:void(0)" class="user-profile">
          <img src="./assets/images/profile-img.png" alt=""/>
          <span>James Gouse</span>
      </a>
      <a href="javascript:void(0)" class="store-btn btn-border">Switch</a>
  </div>
</ion-header>