
<ion-content >
<div class="site-wrapper d-lg-flex justify-content-md-between search-results">
    <div class="left-section">
         <h3>Search Results</h3>
         <div class="store-products d-md-flex flex-wrap">
            <div class="product-box">
                <a href="javascript:void(0)" class="product-ribbon">
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon"></use>
                    </svg>
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon-filled"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="block-link"></a>
                <div class="image-container">
                    <img src="images/mens-polo-tshirt.png" alt=""/>
                </div>
                <div class="content">
                    <h4>Men's - Polo Shirt - Black</h4>
                    <div class="product-health bad">4 ITEMS RUNNING LOW</div>
                    <div class="price d-flex justify-content-between align-items-center">
                        <h2>$68.00</h2>
                    </div>
                </div>
            </div>
            <div class="product-box">
                <a href="javascript:void(0)" class="product-ribbon">
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon"></use>
                    </svg>
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon-filled"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="block-link"></a>
                <div class="image-container">
                    <img src="images/women-polo-white.png" alt=""/>
                </div>
                <div class="content">
                    <h4>Men's - Polo Shirt - White</h4>
                    <div class="product-health good">Good Stock Health</div>
                    <div class="price d-flex justify-content-between align-items-center">
                        <h2>$68.00</h2>
                    </div>
                </div>
            </div>
            <div class="product-box">
                <a href="javascript:void(0)" class="product-ribbon">
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon"></use>
                    </svg>
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon-filled"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="block-link"></a>
                <div class="image-container">
                    <img src="images/mens-polo-tshirt.png" alt=""/>
                </div>
                <div class="content">
                    <h4>Men's - Polo Shirt - Black</h4>
                    <div class="product-health bad">4 ITEMS RUNNING LOW</div>
                    <div class="price d-flex justify-content-between align-items-center">
                        <h2>$68.00</h2>
                    </div>
                </div>
            </div>
            <div class="product-box">
                <a href="javascript:void(0)" class="product-ribbon">
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon"></use>
                    </svg>
                    <svg class="icon">
                        <use xlink:href="images/svg-sprite.svg#icon-ribbon-filled"></use>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="block-link"></a>
                <div class="image-container">
                    <img src="images/women-polo-white.png" alt=""/>
                </div>
                <div class="content">
                    <h4>Men's - Polo Shirt - White</h4>
                    <div class="product-health good">Good Stock Health</div>
                    <div class="price d-flex justify-content-between align-items-center">
                        <h2>$68.00</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <h3>Order Summary</h3>
        <a href="javascript:void(0)" class="add-customer">
            <svg class="icon">
                <use xlink:href="images/svg-sprite.svg#icon-customer"></use>
            </svg>
            Guest</a>
             <div class="empty-bag">
                 <img src="images/icon-bear.png" alt=""/>
                 <p>Your bag is empty.</p>
             </div>
    </div>
</div>
</ion-content >
