<ul class="category-tabs d-md-flex justify-content-between" *ngIf="categoryData">
  <li [class.active]="'' == selectedCategory" (click)="loadProduct('')" rel="tab1">
      <svg class="icon">
          <use xlink:href="./assets/images/svg-sprite.svg#icon-all"></use>
      </svg>
      All
  </li>
  <li [class.active]="data._id == selectedCategory" (click)="loadProduct(data?._id )" rel="tab2"
      *ngFor="let data of categoryData?.data">
      <svg class="icon">
          <use xlink:href="./assets/images/svg-sprite.svg#icon-apparel"></use>
      </svg>
      {{data.name}}
  </li>

</ul>