<div class="payment-done">
  <div class="top-box text-center">
    <div class="decoration">
      <svg class="icon">
        <use xlink:href="images/svg-sprite.svg#icon-decoration"></use>
    </svg>
    <div class="success-check">
      <svg class="icon">
        <use xlink:href="images/svg-sprite.svg#icon-check"></use>
      </svg>
    </div>
    </div>
    <div class="totalpay-amount">
      ${{cartData?.total}}
    </div>
    <p>Payment Done</p>
    <div class="change-money">$13.40 Change out of $100</div>
  </div>
  <button class="store-btn-lg btn-blue">Send email & Text message</button>
  <div class="button-wrapper">
    <a href="javascript:void(0)" class="store-btn btn-border">Send Text</a>
    <a href="javascript:void(0)" class="store-btn btn-border">Send email</a>
    <a href="javascript:void(0)" class="store-btn btn-border">Print Receipt</a>
  </div>
</div>
