
<ion-content>
    <div class="site-wrapper d-lg-flex justify-content-md-between">
        <div class="left-section">
           <category-tile [categoryData]="categoryData" (loadProductEvent)="loadProduct($event)"></category-tile>
            <div *ngIf="loading">
                <div class="ion-padding custom-skeleton">
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </div>
                </div>

            <div class="tab_container">
                <h3 class="d_active tab_drawer_heading" rel="tab1">
                    <svg class="icon">
                        <use xlink:href="./assets/images/svg-sprite.svg#icon-all"></use>
                    </svg> All
                </h3>
                <div id="tab1" class="tab_content">
                    <ul class="store-tabs d-flex justify-content-center">
                        <li class="tab-link current" data-tab="tab-1">Popular</li>
                        <li class="tab-link" data-tab="tab-2">Recently sold</li>
                        <li class="tab-link" data-tab="tab-3">New Launch</li>
                        <li class="tab-link" data-tab="tab-4">Bookmarks</li>
                    </ul>

                   <product-tile [productData]="productData" (productPage)="productDetail($event)"></product-tile>
                </div>
            </div>
            <!-- .tab_container -->
        </div>
        <app-cart></app-cart>
    </div>

</ion-content>
